# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Environment variables
.env

# Hugging Face cache
.cache/
.cache/huggingface/

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db